.joint-animator{
    width: 450px;
    height: 440px;
    background-color: rgba(255,255,255,0.6);
    display:inline-block;
    vertical-align: top;
    margin:20px;
    margin-left:-10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 9px 0 rgba(0, 0, 0, 0.1);
}

.loader{
    font-size: 50px;
    /* color: #d62462; */
    color:#ddd;
    text-align: center;
}

.not-found-error{
    font-size: 15px;
    margin-top:20px;
}

.action-bar{
    background-color: #f1f1f1;
    /* background-color: rgba(0,0,0,0.05); */
    height: 70px;
    width: 100%;
    padding:20px;
    /* margin-top:-70px; */
}

.record-button{
    margin-right: 10px;
    border-radius: 0px;
    background-color: rgb(253, 31, 79);
    color:#fff;
    border: none;
}

.record-button:hover{
    background-color: rgb(253, 31, 79);
    border: none;
}

.button{
    margin-right: 10px;
    border-radius: 0px;
    background-color: #e5e5e5;
    border-color:  #e5e5e5;
    color:#333;
    height: 32px;
    min-width: 70px;
    display:inline-block;
    padding-top:5px;
}

.button:hover{
    background-color: #ddd;
    color:#333;
    border-color:  #ddd;
}

.frame-count{
    margin-top:5px;
    margin-left: 20px;
}

.save-modal{
    left:35px;
}

.save-button{
    width:230px;
    height:50px;
    margin-right: 10px;
    border-radius: 0px;
    background-color: #eee;
    border-color:  #e5e5e5;
    color:#333;
    min-width: 70px;
    display:inline-block;
    padding-top:14px;
    text-align: center;
    margin-bottom:5px;
}

.datasets-row{
    width:100%;
    text-align: center;
}