.header{
    background-color: rgba(0,0,0,0.2);
    /* background-color: rgb(124, 182, 128); */
    height:70px;
    padding-left: 20px;
    /* margin-bottom: 20px; */
    /* padding:22px; */
    box-shadow: 0 2px 4px rgba(0,0,0,0);
}

.title{
    font-size: 1.75em;
    font-weight: 100;
    color:rgba(255,255,255,0.6);
    float:left;
    margin-right:35px;
    margin-top:15px;
}

.datasetSelector{
    float:left;
    width:180px;
    height:40px;
    margin-top:13px;
    background-color: rgba(0,0,0,0.2);
    color:#fff;
    text-align: center;
    padding-top:8px;
}