.navbar{
    width:70px;
    /* background-color: #3A1C76; */
    background-color: #111;
    position: absolute;
    margin-right: 70px;
    padding-top:10px;
}

.logo{
    margin: 15px 0px 20px 0px;
    color:#fff;
    text-align: center;
    width:100%;
    font-weight:900;
    font-size:1em;
}

.layout{
    min-height: 100vh;
    min-width: 100vh;
}

.icon{
    width:20px;
    margin: 15px 25px 15px 25px;
}