.dataset{
    width:90%;
    background-color: #fff;
    height: 70px;
    /* margin-top:20px; */
    border-bottom-width:1px;
    border-bottom-color: #ccc; 
    border-bottom-style: solid;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    transition: transform .1s; */
}

.datasets:hover{
    transform: scale(1.04);
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
}

.folderIcon{
    height:35px;
    width:35px;
    float:left;
    margin-left: 15px;
    margin-top: 17px;
}

.dataset-name{
    float:left;
    margin-left:20px;
    font-size: 14px;
    margin-top: 24px;
}

.motion-model-count{
    float:right;
    margin-right:20px;
    font-size: 14px;
    margin-top: 24px;
}


.new-dataset-input{
    height: 40px;
    width: 100%;
    max-width: 400px;
    background-color: #fafafa;
    border: none;
    font-Size: 15px;
    /* font-weight: 600; */
    padding: 10px;
    border: solid #ddd 1px;
    color: #333;
}

.save-dataset-button{
    margin-right: 10px;
    border-radius: 0px;
    background-color: #e5e5e5;
    border-color:  #e5e5e5;
    color:#333;
    height: 45px;
    min-width: 170px;
    display:inline-block;
}

.save-dataset-button:hover{
    background-color: #ddd;
    color:#333;
    border-color:  #ddd;
    
}

.new-dataset-button{
    margin-right: 25px;
    border-radius: 0px;
    background-color: rgb(253, 31, 79);
    color:#fff;
    border: none;
    float:right;
    margin-top:-75px;
    height: 45px;
    min-width: 170px;
    
}

.new-dataset-button:hover{
    background-color: rgb(240, 16, 65);
    color:#fff;
    border: none;
}