@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.center{
  text-align: center;
}

.title{
  font-size: 1.6rem;
  font-weight: 900;
  color: rgb(49, 59, 73);
  margin:5px;
}

.message{
  margin:0;
  color:rgba(36, 43, 53, 0.829);
}

.text-input{
  color: rgb(49, 59, 73);
  font-size:1.2rem;
  font-weight: 100;
  border:none;
  border-bottom: solid;
  border-bottom-color: rgba(49, 59, 73, 1);
  border-bottom-width: .1px;
  width:100%;
  text-align: center;
  border-radius: 0;
}

.text-input:focus {
  outline: none;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .2s, 
  opacity .2s linear;
}


body{
  background-color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

